h1, h2, h4 {
    font-family: 'Crimson Text', serif;
    text-align: center;
}

p, ol {
    font-family: 'Bai Jamjuree', sans-serif;
}

.bio-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

#image {
    
}

#bio {
    
}