h1, h2, h4 {
    font-family: 'Crimson Text', serif;
    text-align: center;
}

p, ol {
    font-family: 'Bai Jamjuree', sans-serif;
}

.bio-image {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.image {
    float: right;
}

.bio {
    margin-top: 50px;
    margin-left: 80px;
}